<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SerialPortTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialPortTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <SerialPortTerminal.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataMode" serializeAs="String">
                <value>Hex</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="ClearOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearWithDTR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="calFileName" serializeAs="String">
                <value>S91.TAB</value>
            </setting>
            <setting name="filePath" serializeAs="String">
                <value>"c:\\zls\\data\\"</value>
            </setting>
            <setting name="fileType" serializeAs="String">
                <value />
            </setting>
            <setting name="dataFilePath" serializeAs="String">
                <value>"c:\\zls\\data\\"</value>
            </setting>
            <setting name="beamScale" serializeAs="String">
                <value>1.298317</value>
            </setting>
            <setting name="meterNumber" serializeAs="String">
                <value>"S67"</value>
            </setting>
            <setting name="engPassword" serializeAs="String">
                <value>"zls"</value>
            </setting>
            <setting name="crossPeriod" serializeAs="String">
                <value>1.91E-05</value>
            </setting>
            <setting name="longPeriod" serializeAs="String">
                <value>8.4000002971151844E-06</value>
            </setting>
            <setting name="crossDampFactor" serializeAs="String">
                <value>0.212</value>
            </setting>
            <setting name="longDampFactor" serializeAs="String">
                <value>0.091499999165534973</value>
            </setting>
            <setting name="crossGain" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="longGain" serializeAs="String">
                <value>0.11999999731779099</value>
            </setting>
            <setting name="crossLead" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="longLead" serializeAs="String">
                <value>0.44999998807907104</value>
            </setting>
            <setting name="springTensionMax" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="modeSwitch" serializeAs="String">
                <value>"marine"</value>
            </setting>
            <setting name="crossBias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="longBias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dataFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="dataAquisitionMode" serializeAs="String">
                <value>Hi-Res</value>
            </setting>
        </SerialPortTerminal.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <SerialPortTerminal.Properties.Settings>
            <setting name="calFilePath" serializeAs="String">
                <value>"c:\\zls\\"</value>
            </setting>
            <setting name="configFileName" serializeAs="String">
                <value>sampleConfigFile.ref</value>
            </setting>
            <setting name="configFilePath" serializeAs="String">
                <value>c:\zls\</value>
            </setting>
            <setting name="fileDateFormat" serializeAs="String">
                <value>2</value>
            </setting>
        </SerialPortTerminal.Properties.Settings>
    </applicationSettings>
</configuration>
