<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SerialPortTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
        </sectionGroup>
        
    </configSections>
    <connectionStrings />
    <userSettings>
        <SerialPortTerminal.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate_RS232" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBit_RS232" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity_RS232" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataMode" serializeAs="String">
                <value>Hex</value>
            </setting>
            <setting name="StopBits_RS232" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="ClearOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearWithDTR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="calFileName" serializeAs="String">
                <value>S67-tab.csv</value>
            </setting>
            <setting name="calFilePath" serializeAs="String">
                <value>C:\ZLS\</value>
            </setting>
            <setting name="configFileName" serializeAs="String">
                <value>ConfigFile_Test1.csv</value>
            </setting>
            <setting name="configFilePath" serializeAs="String">
                <value>C:\ZLS\</value>
            </setting>
            <setting name="fileDateFormat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="filePath" serializeAs="String">
                <value>c:\ZLS\data\</value>
            </setting>
            <setting name="fileType" serializeAs="String">
                <value />
            </setting>
            <setting name="dataFilePath" serializeAs="String">
                <value>c:\ZLS\data\</value>
            </setting>
            <setting name="beamScale" serializeAs="String">
                <value>1.298317</value>
            </setting>
            <setting name="meterNumber" serializeAs="String">
                <value>"S67"</value>
            </setting>
            <setting name="engPassword" serializeAs="String">
                <value>"zls"</value>
            </setting>
            <setting name="crossPeriod" serializeAs="String">
                <value>8.4E-06</value>
            </setting>
            <setting name="longPeriod" serializeAs="String">
                <value>8.4E-06</value>
            </setting>
            <setting name="crossDampFactor" serializeAs="String">
                <value>0.0915</value>
            </setting>
            <setting name="longDampFactor" serializeAs="String">
                <value>0.0915</value>
            </setting>
            <setting name="crossGain" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="longGain" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="crossLead" serializeAs="String">
                <value>0.45</value>
            </setting>
            <setting name="longLead" serializeAs="String">
                <value>0.45</value>
            </setting>
            <setting name="springTensionMax" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="modeSwitch" serializeAs="String">
                <value>Marine</value>
            </setting>
            <setting name="crossBias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="longBias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dataAquisitionMode" serializeAs="String">
                <value>Marine</value>
            </setting>
            <setting name="springTension" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kFactor" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="gyroType" serializeAs="String">
                <value>FOG pack</value>
            </setting>
            <setting name="crossCompFactor_4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crossCompPhase_4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="crossCompFactor_16" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="crossCompPhase_16" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="longCompFactor_4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="longCompPhase_4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="longCompFactor_16" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="longCompPhase_16" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CML_Fact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AL_Fact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AX_Fact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VE_Fact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CMX_Fact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XACC2_Fact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LACC2_Fact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XACC_Phase" serializeAs="String">
                <value>0.217</value>
            </setting>
            <setting name="LAXX_AL_Phase" serializeAs="String">
                <value>0.6196</value>
            </setting>
            <setting name="LACC_CML_Phase" serializeAs="String">
                <value>0.195</value>
            </setting>
            <setting name="LACC_CMX_Phase" serializeAs="String">
                <value>0.185</value>
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="managerPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="zlsPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="crossCouplingFactors1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crossCouplingFactors2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crossCouplingFactors3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crossCouplingFactors4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crossCouplingFactors5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crossCouplingFactors6_VCC" serializeAs="String">
                <value>0.0352</value>
            </setting>
            <setting name="crossCouplingFactors7_AL" serializeAs="String">
                <value>-0.00328</value>
            </setting>
            <setting name="crossCouplingFactors8_AX" serializeAs="String">
                <value>-0.05865</value>
            </setting>
            <setting name="crossCouplingFactors9_VE" serializeAs="String">
                <value>0.00944</value>
            </setting>
            <setting name="crossCouplingFactors10_AX2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crossCouplingFactors11_XACC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crossCouplingFactors12_LACC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crossCouplingFactors13_CrossAxisCompensation4"
                serializeAs="String">
                <value>-0.00119920087</value>
            </setting>
            <setting name="crossCouplingFactors14_LongAxisCompensation4"
                serializeAs="String">
                <value>-0.0013</value>
            </setting>
            <setting name="crossCouplingFactors15_CrossAxisCompensation16"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="crossCouplingFactors16_LongAxisCompensation16"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="crossCouplingFactors0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="analogFilter0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="analogFilter1_AXPhase" serializeAs="String">
                <value>0.224</value>
            </setting>
            <setting name="analogFilter2_ALPhase" serializeAs="String">
                <value>0.2425</value>
            </setting>
            <setting name="analogFilter3" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="analogFilter4_VCCPhase" serializeAs="String">
                <value>0.29</value>
            </setting>
            <setting name="analogFilter5_CrossAxisCompensationPhase4" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="analogFilter6_LongAxisCompensationPhase4" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="analogFilter8_LongAxisCompensationPhase16" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="analogFilter8" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="chartWindowTimePeriod" serializeAs="String">
                <value>minutes</value>
            </setting>
            <setting name="chartWindowTimeSpan" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="programPath" serializeAs="String">
                <value>C:\zls\</value>
            </setting>
            <setting name="screenFilter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="surveyInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate_RS422" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="dataPortName" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="encoderPortName" serializeAs="String">
                <value>COM7</value>
            </setting>
        </SerialPortTerminal.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
